POSTGRES_DB=AlphaSquad
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-postgres-password
JWT_ISSUER=AlphaSquad.Dev
JWT_AUDIENCE=AlphaSquad.App.Dev
JWT_SECRET_KEY=your-jwt-secret
PLATFORM_OWNER_NAME=Equipe AlphaSquad
PLATFORM_OWNER_EMAIL=owner@alphasquad.app
PLATFORM_OWNER_PASSWORD=your-platform-owner-password
STORAGE_PROVIDER=CloudflareR2
STORAGE_ENDPOINT=your-storage-endpoint
STORAGE_ACCESS_KEY=your-storage-access-key
STORAGE_SECRET_KEY=your-storage-secret-key
STORAGE_BUCKET_NAME=your-storage-bucket
STORAGE_PUBLIC_BASE_URL=https://your-public-storage-base-url
